/* ===============
   GLOBAL STYLES
   =============== */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    transition: .1s;
}

:root {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 8px;
    background: transparent
}

::-webkit-scrollbar-thumb {
    background: var(--color-dark);
}

img {
    max-width: 100%;
}


body {
    background: var(--color-light);
    color: var(--color-dark);
    font-family: 'Open Sans',
        sans-serif;
    font-weight: 400;
}

h1,
h2,
h3 {
    line-height: 1.1;
    font-weight: 300;
}

h1 {
    font-size: var(--size-700);
}

h2 {
    font-size: var(--size-600);
}

h3 {
    font-size: var(--size-500);
}

p {
    line-height: 1.4;
    font-size: var(--size-400);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    font-size: var(--size-400);
    color: var(--color-dark);
    ;
}