.hide {
    opacity: 0;
}

.homepage {

    &__directory {
        display: flex;
        flex-wrap: wrap;
        min-height: calc(100vh - var(--nav-height));

        &__item {
            width: 400px;
            min-height: 300px;
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--color-dark);
            position: relative;
            transition: .6s;
            cursor: pointer;
            overflow: hidden;

            &__bg {
                position: absolute;
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: .6s;
            }

            &:hover {
                .homepage__directory__item__details {
                    background: var(--color-light);
                }

                .homepage__directory__item__bg {
                    transform: scale(1.2);
                }
            }

            &::after {
                @include after;
                width: 100%;
                height: 100%;
                background: rgba($color: #000, $alpha: .4);
            }


            &__details {
                z-index: 1;
                height: 90px;
                padding: 0 2.5rem;
                @include flexCenter;
                flex-direction: column;
                background: var(--color-transparent);
                transition: .3s;
                min-width: 150px;

                .title {
                    font-weight: 300;
                    font-size: var(--size-700);
                    text-transform: uppercase;
                    margin: 0;
                }

                .subtitle {
                    font-weight: 300;
                    font-size: var(--size-300);
                    margin-top: .5rem;
                }
            }
        }
    }

}