.collection {
    padding: 5rem 0;

    &__title {
        font-size: var(--size-800);
        font-weight: lighter;
        margin-bottom: 2rem;
    }

    &__items {
        display: flex;
        gap: 3rem;
        flex-wrap: wrap;
    }

    &__item {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 1rem;

        @media (max-width:1130px) {
            margin: 0 auto;
        }


        & header {
            grid-column: 1/-1;
            position: relative;
        }

        &__image {
            width: 300px;
            height: 350px;
            object-fit: cover;
        }

        .add-to-cart-btn {
            position: absolute;
            bottom: 2rem;
            right: 2rem;
            border-radius: 100%;
            padding: 0;
            width: 4.5rem;
            height: 4.5rem;
            box-shadow: var(--box-shadow-bottom);
            border: 0;
            font-size: var(--size-400);
            transition: .2s;

            &:hover {
                transform: scale(1.1);
            }

            &:active {
                transform: scale(1);
            }
        }

    }
}