/* ===============
   UTILITIES
   =============== */

.container {
    max-width: 1400px;
    margin: 0 auto;
    width: 85%;
}


.block {
    padding: 5rem 0
}

.loader {
    width: 100%;
    height: calc(100vh - var(--nav-height));
    display: grid;
    place-content: center;
}

.spinner {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-top: 2px solid var(--color-dark);
    border-right: 2px solid transparent;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.btn {
    display: inline-block;
    padding: .7em 2em;
    border: 1px solid transparent;
    cursor: pointer;
    background: var(--color-dark);
    color: var(--color-light);
    font-size: var(--size-400);
    transition: .3s;
    text-align: center;
    outline: none;

    &:disabled {
        opacity: .7;
    }

    &:hover {
        background: transparent;
        color: var(--color-dark);
        border-color: currentColor;
    }

    &:active {
        transform: scale(.90);
    }

    &--secondary {
        background: var(--color-secondary);
        color: #fff;
    }

    &--text {
        padding: 0;
        color: var(--color-dark);
        background: none;
        letter-spacing: .1em;
        border: 0;
    }

    &--link {
        position: relative;
        display: inline-block;
        width: auto;

        &::after {
            @include after;
            left: 0;
            top: 105%;
            transform: scaleX(0);
            transform-origin: left;
            transition: .2s;
        }

        &:hover {
            &::after {
                transform: scaleX(1);
            }
        }
    }
}

.bold {
    font-weight: bold;
}

.heading {
    text-transform: uppercase;
}

.columns {
    display: flex;
    gap: 2rem;
}