.cart {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &__icon {
        width: 3rem;
        height: 3rem;
        cursor: pointer;
    }

    &__count {
        position: absolute;
        font-weight: bold;
        top: 50%;
        transform: translateY(-30%);
        pointer-events: none;
    }

    &__message {
        text-align: center;
        margin: auto 0;
    }

    &__dropdown {
        position: absolute;
        width: 26rem;
        height: 35rem;
        display: flex;
        flex-direction: column;
        padding: 2rem;
        background-color: var(--color-light);
        top: 180%;
        right: -5rem;
        box-shadow: var(--shadow2);

        ::-webkit-scrollbar {
            width: 6px;
        }

        ::-webkit-scrollbar-thumb {
            border-radius: 5rem;
        }

    }

    &__items {
        display: flex;
        flex-direction: column;
        overflow: scroll;
        flex-grow: 1;
        gap: 2rem;
        overflow-x: hidden;
        padding-bottom: 2rem;
    }

    &__item {
        display: flex;
        align-items: center;
        gap: 2rem;
        cursor: default;

        &__image {
            width: 6rem;
            height: 6rem;
            object-fit: cover;
        }

        &__detail {
            font-size: var(--size-300);
        }
    }

}